@import "src/styles/mixins";

.content-wrapper {
  padding: 40px 80px 40px 80px;
}

.logo {
  margin-bottom: 80px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.center {
  display: grid;
  place-items: center;
  width: 100%;
}

.tools-grid {
  margin: 0 auto;
  max-width: 1160px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust minmax as needed */
  gap: 32px;
}
