<main class="content-wrapper">

  <div class="logo">
    <img alt="css toolbox logo" src="assets/css-toolbox.svg">
    <h1 class="title">Enjoy this awesome CSS toolkit!</h1>
  </div>

  <div class="tools-grid">
    <app-tool icon="border-top-left" name="Border editor" routerLink="/border-editor"></app-tool>
    <app-tool icon="swatchbook" name="Color gradient editor"></app-tool>
    <app-tool icon="draw-polygon" name="Clip-path editor"></app-tool>
    <app-tool icon="caret-up" name="Triangle generator"></app-tool>
    <app-tool icon="boxes-stacked" name="Flexbox editor"></app-tool>
    <app-tool icon="table-cells-large" name="Css grid editor"></app-tool>
    <app-tool icon="camera-retro" name="Filter editor"></app-tool>
    <app-tool icon="scale-balanced" name="Unit converter"></app-tool>


  </div>

</main>
